body {
    text-align: center;
    font-family: 'Merriweather', serif;
    margin: 0;
}
.topcontainer {
    background-color: #e0ebe8;
    width: 100%;
    position: relative;
    padding-top: 100px;
}
.name{
    color: #45b29a;
    font-family: 'Sacramento', cursive;
    width: 25%;
    margin: 0 auto;
}
.sub{
    color: #45b29a;
    font-family: 'Montserrat', sans-serif;
    width: 25%;
    margin: 0 auto;
}
.web{
    text-decoration: underline;
}
.lowwer-cloud{
    position: absolute;
    left: 20%;
    bottom: 60%;
    width: 13%;
}
.upper-cloud{
    position: absolute;
    right: 25%;
    top: 10%;
    width: 13%;
}
.land{
    width: 60%;
}